.masthead {
	img {
		max-height: 500px;
		position: relative;
		z-index: 2;
	}

	.feed-wrapper {
		@include flex();
		justify-content: flex-end;
		margin-right: -15px;
	}

	@include breakpoint(small down) {
		.feed {
			position: relative;
			margin-top: rem-calc(30);
			right: rem-calc(0);
		}

		.today {
			position: absolute;
			z-index: 3;
			left: rem-calc(0);
			bottom: rem-calc(-120);
		}
	}

	@include breakpoint(medium up) {
		.feed {
			position: relative;
			margin-top: rem-calc(-30);
			margin-left: rem-calc(0);
		}

		.today {
			position: absolute;
			z-index: 3;
			right: rem-calc(0);
			bottom: rem-calc(-120);
		}
	}

	@include breakpoint(large up) {
		.feed {
			margin-left: rem-calc(-50);
		}

		img {
			max-height: 652px;
		}
	}
}


.community {
	padding: rem-calc(160) 0 0;
}

.features {
	.card {
		margin-bottom: 1rem;
	}

	.card-section {
		padding: rem-calc(60) rem-calc(20);
		.cell {
			border-right: 2px solid $color-lightest;
			padding: 0 rem-calc(51);
			&:last-child {
				border-right: none;
			}
		}
	}

	img {
		margin-bottom: rem-calc(30);
		max-width: 240px;
	}

	p {
		line-height: rem-calc(24);
		font-size: rem-calc(16);
		margin: rem-calc(10) 0 0;
	}

	@include breakpoint(medium up) {
		margin-top: rem-calc(-60);
		position: relative;
		z-index: 3;

		.card {
			margin-bottom: 0;
		}

		h3 {
			color: $color-text-dark;
		}

		p {
			font-size: rem-calc(14);
			line-height: rem-calc(18);
		}

		img {
			max-width: 220px;
		}
	}
}

.mobile-features {
	margin-top: rem-calc(20);
	outline: none;
	.card {
		width: 90%;
		min-height: 100%;
		margin-right: 1rem;
	}
}

.is-light {
	background-color: white;
}

