.community {
	padding: rem-calc(160) 0 0;
}

.features {
	.card {
		margin-bottom: 1rem;
	}

	.card-section {
		padding: rem-calc(60) rem-calc(20);
		.cell {
			border-right: 2px solid $color-lightest;
			padding: 0 rem-calc(51);
			&:last-child {
				border-right: none;
			}
		}
	}

	img {
		margin-bottom: rem-calc(20);
		max-width: 180px;
	}

	h3 {
		color: $color-text-dark;
	}

	p {
		line-height: rem-calc(24);
		font-size: rem-calc(16);
		margin: 0;
	}

	@include breakpoint(medium up) {
		margin-top: rem-calc(-60);
		.card {
			margin-bottom: 0;
		}

		p {
			font-size: rem-calc(14);
			line-height: rem-calc(20);
		}

		img {
			margin-bottom: rem-calc(30);
			max-width: 220px;
		}
	}
}

