{% extends 'layouts/application.html' %}
{% set title = "Work with us • Matador" %}
{% set bodyClass = "is-offset" %}

{% block header %}
<header class="header">
	<div class="grid-container">
		<a href="/index.html" title="Matador" class="logo is-dark">Matador</a>

		{% include "shared/header-links.html" %}
	</div>
</header>

<div class="header scrolling-nav">
	<div class="grid-container">
		<a href="/index.html" title="Matador" class="logo is-dark">Matador</a>

		{% include "shared/header-links.html" %}
	</div>
</div>

{% include "shared/navigation.html" %}
{% endblock %}

{% block content %}
<div class="masthead-careers text-center">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center text-center">
			<div class="cell small-10 large-8 content">
				<h2>Work with us</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Mauris dapibus sit amet tellus eget fermentum. Cras in tortor sed metus ullamcorper egestas id non nibh. Donec sed erat nunc. Praesent faucibus metus nulla, non tincidunt velit fermentum.</p>
			</div>
		</div>
	</div>
</div>

<div class="jobs is-light is-padding text-center">
	<div class="container">
		<div class="row">
			<div class="column">
				<ul>
					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>

					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>

					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>

					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>

					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>

					<li>
						<a href="">
							<h3>Job Posting Title</h3>
							<h5>New York, NY</h5>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "shared/footer-simple.html" %}
{% endblock %}