{% extends 'layouts/application.html' %}
{% set title = "Company • Matador" %}

{% block content %}
<div class="masthead">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center text-center">
			<div class="cell small-10 large-7 content">
				<h2 style="opacity:0">Matador’s mission is to accelerate  all people’s prosperity.</h2>
				<p style="opacity:0">Too many of the ways to create grow your money – from multiple accounts to investing directly in the stock market – are still complex and scary.  Even today, less than half of Americans own stock, despite the fact that the stock market is one of the best places to preserve and grow prosperity.</p>
				<p style="opacity:0">We're here to make finance simple and friendly by rethinking what makes the status-quo complicated and intimidating. Then, we work to remove those barriers.</p>
			</div>
		</div>
	</div>
</div>

<section class="timeline is-light">
	<div class="is-padding">
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell small-8 medium-6">
					<h2>We operate through our shared values and commitments.</h2>
				</div>
			</div>

			<div class="mobile-values text-center show-for-small-only">
				<div class="card">
					<div class="card-section">
						<h3>Focus on our mission.</h3>
						<p>As a mission-driven company, we are inspired and motivated to accelerate people’s prosperity.</p>
					</div>
				</div>

				<div class="card">
					<div class="card-section">
						<h3>Empower our community and ourselves.</h3>
						<p>Whether it's making Matador’s products & services better, or helping people advance their investing strategies, we commit to focusing our energy on what’s most empowering for our community.</p>
					</div>
				</div>

				<div class="card">
					<div class="card-section">
						<h3>Make it better.</h3>
						<p>We commit to taking stock of the status quo with curiosity and acumen, and to then bias for action when things need to be improved.</p>
					</div>
				</div>

				<div class="card">
					<div class="card-section">
						<h3>Be transparent.</h3>
						<p>We commit to being as transparent as we can with ourselves, our community, and the industry.</p>
					</div>
				</div>
			</div>

			<div class="grid-x grid-padding-x hide-for-small-only">
				<div class="cell small-9 medium-6">
					<br>
					<h3>Focus on our mission.</h3>
					<p>As a mission-driven company, we are inspired and motivated to accelerate people’s prosperity.</p>

					<br>
					<h3>Empower our community and ourselves.</h3>
					<p>Whether it's making Matador’s products & services better, or helping people advance their investing strategies, we commit to focusing our energy on what’s most empowering for our community.</p>

					<br>
					<h3>Make it better.</h3>
					<p>We commit to taking stock of the status quo with curiosity and acumen, and to then bias for action when things need to be improved.</p>

					<br>
					<h3>Be transparent.</h3>
					<p>We commit to being as transparent as we can with ourselves, our community, and the industry.</p>
				</div>

				<div class="cell medium-offset-1 medium-5 large-offset-3 large-3 centered leaves-wrap">
					<img src="images/leaves.svg" width="170" draggable="false">
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container investors-wrap">
		<div class="grid-x grid-padding-x">
			<div class="cell small-6 medium-12">
				<h2>Backed by great investors.</h2>
				<br>
			</div>

			<div class="cell medium-12 show-for-small-only">
				<div class="mobile-investors text-center">
					<div class="card">
						<div class="card-section">
							<h3>Accel</h3>
							<p>Accel is a leading venture capital firm that partners with exceptional founders with unique insights, from inception through all phases of private company growth.</p>
						</div>
					</div>

					<div class="card">
						<div class="card-section">
							<h3>Greycroft</h3>
							<p>Greycroft is a leading venture capital firm focused on investments in the Internet and mobile markets. With offices in the two media capitals of the world – New York and Los Angeles – Greycroft is uniquely positioned to serve entrepreneurs who have chosen them as their partners.</p>
						</div>
					</div>

					<div class="card">
						<div class="card-section">
							<h3>Thinking Capital</h3>
							<p>Thinking Capital focuses on early stage companies at the intersection of media, entertainment and technology.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="cell small-9 medium-6 hide-for-small-only">
				<h3>Accel</h3>
				<p>Accel is a leading venture capital firm that partners with exceptional founders with unique insights, from inception through all phases of private company growth.</p>

				<br>
				<h3>Greycroft</h3>
				<p>Greycroft is a leading venture capital firm focused on investments in the Internet and mobile markets. With offices in the two media capitals of the world – New York and Los Angeles – Greycroft is uniquely positioned to serve entrepreneurs who have chosen them as their partners.</p>

				<br>
				<h3>Thinking Capital</h3>
				<p>Thinking Capital focuses on early stage companies at the intersection of media, entertainment and technology.</p>
			</div>

			<div class="cell investors medium-offset-1 medium-5 large-offset-3 large-3 city-wrap centered hide-for-small-only">
				<div class="card">
					<img src="images/accel.svg" width="90" draggable="false">
				</div>

				<div class="card">
					<img src="images/greycroft.png" width="180" draggable="false">
				</div>

				<div class="card">
					<img src="images/thinking-capital.png" width="130" draggable="false">
				</div>

				<img src="images/city.svg" class="city" width="230" draggable="false">
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer %}
{% include "shared/footer-alt.html" %}
{% endblock %}