{% extends 'layouts/application.html' %}
{% set title = "The Fine Print • Matador" %}

{% block content %}
<div class="masthead">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center text-center">
			<div class="cell small-10 large-12 content">
				<h1 style="opacity:0">The fine print</h1>
				<p class="lead" style="opacity:0">By using Matador you agree to these terms &amp; disclosures.</p>
			</div>
		</div>
	</div>
</div>

<div class="section text-center legal-links">
	<div class="container">
		<div class="row">
			<div class="column">
				<br>
				<br>
				<h2>Disclosures</h2>
				<br>

				<ul>
					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Apex+Clearing+Annual+Disclosure+Statement+2017.pdf">APEX Annual Disclosure Statement</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Apex+Customer+Information+Brochure+2018.pdf">APEX Clearing Brochure</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Apex+Customer+Account+Agreement.pdf">APEX Customer Agreement</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/IMPORTANT+DISCLOSURES+REGARDING+RISKS+AND+CHARACTERISTICS+OF+PARTICIPATING+IN+APEX+CLEARING+CORPORATION%E2%80%99S+FULLY-PAID+SECURITIES+LENDING+PROGRAM.pdf">APEX Fully Paid Lending Disclosure</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Master+Securities+Lending+Agreement+For+APEX+Clearing+Corporation+Fully-Paid+Securities+Lending+Program.pdf">APEX Master Securities Lending Agreement</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Apex-Statement-of-Financial-Condition-Audited-December-2017-exported.pdf">APEX Statement of Financial Condition</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/APEXFDIC-INSUREDSWEEPPROGRAMTERMSANDCONDITIONS.pdf">APEX FDIC Insurance Sweep Terms and Conditions</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/T3+Securities+Inc.+Customer+Agreement.pdf">T3 Securities Customer Agreement</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/T3+Securities+Inc.+Use+and+Risk+Disclosures.pdf">T3 Securities Use and Risk Disclosures</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/T3SecuritiesIncJurisdictions.pdf">T3 Securities Jurisdictions</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/CONSENT+TO+PARTICIPATE+IN+RECOVERY+PROGRAM.pdf">T3 Securities Consent to Participate in Recovery Program</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Low-PricedSecuritiesDisclosure.pdf">T3 Securities Low-Priced Securities Disclosure</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Matador+-+Commission+%26+Fee+Schedule.pdf">T3 Securities Commission and Fee Schedule</a>
					</li>

					<li>
						<a href="http://t3securities.com">T3 Securities Business Continuity Plan Summary</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Matador+-+Data+Disclosures.pdf">Matador Data Disclosures</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Matador+Platform+Disclosures.pdf">Matador Platform Disclosures</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Matador+Privacy+Policy.pdf">Matador Privacy Policy</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Matador+Terms.pdf">Matador Terms and Conditions</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/Finra+Public+Risk+Disclosure+Program.pdf">Finra Public Risk Disclosure</a>
					</li>

					<li>
						<a href="https://s3.amazonaws.com/matador-docs/SEC+ETF+Bulletin.pdf">SEC ETF Bulletin</a>
					</li>

					<li>
						<a href="http://www.finra.org/industry/customer-identification-program-notice">Finra - Customer ID Program Notice</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}