{% extends 'layouts/application.html' %}
{% set title = "A simple way to  grow your money • Matador" %}

{% block content %}
<div class="masthead">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center align-middle">
			<div class="cell small-10 medium-5 large-6 content">
				<h1 style="opacity:0">A simple way to grow your money</h1>
				<p class="lead has-padding-right" style="opacity:0">Matador is a simple place to grow your money. From one account, earn a baseline <a href="/interest/">2.5% interest</a> on your cash, or invest your money in the stock market with the confidence and joy of the Matador community by your side.</p>
				
				<a href="https://itunes.apple.com/us/app/matador-stock-trading/id1204112719?mt=8">
					<img src="images/appstore.svg" draggable="false" style="opacity:0">
				</a>
			</div>

			<div class="cell small-12 medium-7 large-6">
				<img src="images/hero-today-sm.png" class="today show-for-small-only" draggable="false">
				<div class="feed-wrapper">
					<img src="images/hero-feed-sm.png" class="feed show-for-small-only" draggable="false">
				</div>

				<img src="images/hero-today-lg.png" class="today hide-for-small-only" draggable="false">
				<img src="images/hero-feed-lg.png" class="feed hide-for-small-only" draggable="false">

				<img src="images/masthead-decor.svg" class="hide-for-small-only decor" draggable="false">
				<img src="images/masthead-stripes.svg" class="hide-for-small-only stripes" draggable="false">
			</div>
		</div>
	</div>
</div>

<div class="features grid-container">
	<div class="card hide-for-small-only">
		<div class="card-section">
			<div class="grid-x grid-padding-x align-center text-center">
				<div class="cell medium-4">
					<img src="images/friends.svg" alt="Friendly: #SquadGoals" draggable="false">
					<h3>Friendly: #SquadGoals</h3>
					<p>The stock market shouldn't be scary or complex. That's why Matador is bringing the power of community to investing – so we can all explore, share, and discover companies and industries to invest in.</p>
				</div>

				<div class="cell medium-4">
					<img src="images/easy.svg" alt="Easy: #Beliefs" draggable="false">
					<h3>Simple: #Growth</h3>
					<p>We believe you should be able to grow your money in one great place, instead of trying to keep track of a bunch of apps. From <a href="/interest/">interest</a> to investing, Matador gives you a simple way to grow your money.</p>
				</div>

				<div class="cell medium-4">
					<img src="images/free.svg" alt="Easy: #Beliefs" draggable="false">
					<h3>Free: #YepFree</h3>
					<p>Matador is free to use and we collect $0 in commission fees, regardless of the amount you are investing. There are no account minimums, so invest as much or as little as you are comfortable with. See below for details.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile-features text-center show-for-small-only">
		<div class="card">
			<div class="card-section">
				<img src="images/friends.svg" alt="Friendly: #SquadGoals" draggable="false">
				<h3>Friendly: #SquadGoals</h3>
				<p>The stock market shouldn't be scary or complex. That's why Matador is bringing the power of community to investing – so we can all explore, share, and discover companies and industries to invest in.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-section">
				<img src="images/easy.svg" alt="Easy: #Beliefs" draggable="false">
				<h3>Simple: #Growth</h3>
				<p>We believe you should be able to grow your money in one great place, instead of trying to keep track of a bunch of apps. From <a href="/interest/">interest</a> to investing, Matador gives you a simple way to grow your money.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-section">
				<img src="images/free.svg" alt="Easy: #Beliefs" draggable="false">
				<h3>Free: #YepFree</h3>
				<p>Matador is free to use and we collect $0 in commission fees, regardless of the amount you are investing. There are no account minimums, so invest as much or as little as you are comfortable with. See below for details.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-section">
				<img src="images/secure.svg" alt="Bank Level Security" draggable="false">
				<h3>Bank Level Security</h3>
				<p>We use bank-level security with AES 128-bit encryption and TLS 1.2 to secure data in transit.</p>
				<p><span class="primary">TLDR: We not only meet traditional banking security standards – we exceed them.</span></p>
			</div>
		</div>
	</div>
</div>

<div class="grid-container community hide-for-small-only">
	<div class="grid-x grid-padding-x align-center text-center">
		<div class="cell small-11 medium-9 large-7">
			<h2>We’re on a mission to  <br>accelerate all people’s prosperity.</h2>
			<p>Matador is bringing the best parts of financial and social tech together into an app that aims to helps everyone accelerate their prosperity. We help you build relationships around finance so you can be more effective and knowledgeable in what you’re doing.</p>
		</div>
	</div>
</div>
{% endblock %}