{% extends 'layouts/application.html' %}
{% set title = "Matador • Investing, made easy-peasy." %}

{% block content %}
<div class="masthead">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-middle">
			<div class="cell medium-5 large-5 content">
				<h1 style="opacity:0">Investing, made easy-peasy.</h1>
				<p class="lead" style="opacity:0">Matador makes investing friendly, free of fees and community-powered. 🤜🤛</p>
				
				<a href="https://itunes.apple.com/us/app/matador-stock-trading/id1204112719?mt=8">
					<img src="images/appstore.svg" draggable="false" style="opacity:0">
				</a>
			</div>

			<div class="cell small-12 medium-7 large-6 large-offset-1">
				<img src="images/masthead-mockup.png" class="hide-for-small-only" draggable="false">
				<img src="images/masthead-decor.svg" class="decor" draggable="false">
				<img src="images/masthead-stripes.svg" class="stripes" draggable="false">
			</div>
		</div>
	</div>
</div>

<div class="features grid-container">
	<div class="card hide-for-small-only">
		<div class="card-section">
			<div class="grid-x grid-padding-x align-center text-center">
				<div class="cell medium-4">
					<img src="images/friends.svg" alt="No Stock Market Scaries" draggable="false">
					<h3>No Stock Market Scaries</h3>
					<p>Bring your squad onto Matador to discuss investments and invest as a group, instead of an isolated experience.</p>
				</div>

				<div class="cell medium-4">
					<img src="images/free.svg" alt="No minimums. No fees." draggable="false">
					<h3>No minimums. No fees.</h3>
					<p>Start with whatever amount of money you’re comfortable with! Make as many trades as you want, and deposit or withdraw whenever you need to.</p>
				</div>

				<div class="cell medium-4">
					<img src="images/secure.svg" alt="Bank-level security" draggable="false">
					<h3>Bank-level security</h3>
					<p>We don’t just meet traditional baking security standards – we exceed them. And since we’re a member of SIPC, you’re protected up to $500,000.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-x grid-padding-x text-center show-for-small-only">
		<div class="cell">
			<div class="card">
				<div class="card-section">
					<img src="images/friends.svg" alt="No Stock Market Scaries" draggable="false">
					<h3>No Stock Market Scaries</h3>
					<p>Bring your squad onto Matador to discuss investments and invest as a group, instead of an isolated experience.</p>
				</div>
			</div>
		</div>

		<div class="cell">
			<div class="card">
				<div class="card-section">
					<img src="images/free.svg" alt="No minimums. No fees." draggable="false">
					<h3>No minimums. No fees.</h3>
					<p>Start with whatever amount of money you’re comfortable with! Make as many trades as you want, and deposit or withdraw whenever you need to.</p>
				</div>
			</div>
		</div>

		<div class="cell">
			<div class="card">
				<div class="card-section">
					<img src="images/secure.svg" alt="Bank-level security" draggable="false">
					<h3>Bank-level security</h3>
					<p>We don’t just meet traditional baking security standards – we exceed them. And since we’re a member of SIPC, you’re protected up to $500,000.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="grid-container community hide-for-small-only">
	<div class="grid-x grid-padding-x align-center text-center">
		<div class="cell small-11 medium-9 large-7">
			<h2>Don't go at it alone.</h2>
			<p>Investing can be scary and costly. We built Matador to make sure that confusion, hassle, and expensive fees don't get in the way of building a comfortable financial future.</p>
			<p>Connect with friends to discover what companies they are investing in, and learn about which stocks are trending from the broader Matador community.</p>
		</div>
	</div>
</div>
{% endblock %}