.button {
	background-image: linear-gradient(160deg, $secondary-color 0%, $primary-color 100%);
	font-family: $header-font-family;
	font-weight: bold;
	outline: none;
	border: none;
	color: white !important;
	&.is-medium {
		font-size: 1rem;
		padding: rem-calc(14) rem-calc(30px);
		box-shadow: 0 5px 12px rgba($primary-color, .15);
		border-radius: $button-radius * 2;
	}

	&.is-large {
		font-size: 1rem;
		text-transform: uppercase;
		padding: rem-calc(22) rem-calc(70px);
		box-shadow: 0 10px 24px rgba($primary-color, .15);
		border-radius: $button-radius * 2;
	}
}