{% from 'macros/helpers.html' import sprite %}
<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ title }}{% endblock %}</title>
		<meta name="description" content="Matador makes investing friendly, free of fees and community-powered.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<meta property="og:title" content="{{ title }}">
		<meta property="og:url" content="https://matadorapp.com">
		<meta property="og:image" content="/social.png">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Matador">

		<link rel="shortcut icon" sizes="any" href="/favicon.svg" type="image/svg+xml">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/stylesheets/app.css">

		{% block head %}{% endblock %}
	</head>
	<body class="{{ bodyClass }}">
		<div class="wrapper">
			{% block header %}
			{% include "shared/header.html" %}
			{% endblock %}
			
			{% block content %}{% endblock %}
			
			{% block footer %}
			{% include "shared/footer.html" %}
			{% endblock %}
		</div>

		{% include "shared/modals.html" %}

		{% block javascript %}
		<script src="/javascripts/app.js"></script>
		{% endblock %}

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137340778-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-137340778-1');
		</script>
	</body>
</html>