{% extends 'layouts/application.html' %}
{% set title = "Work with us • Matador" %}
{% set bodyClass = "is-offset" %}

{% block header %}
<header class="header">
	<div class="grid-container">
		<a href="/" title="Matador" class="logo is-dark">Matador</a>

		{% include "shared/header-links.html" %}
	</div>
</header>

<div class="header scrolling-nav">
	<div class="grid-container">
		<a href="/" title="Matador" class="logo is-dark">Matador</a>

		{% include "shared/header-links.html" %}
	</div>
</div>

{% include "shared/navigation.html" %}
{% endblock %}

{% block content %}
<div class="masthead-careers text-center">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center text-center">
			<div class="cell small-10 large-8 content">
				<h2>Work with us</h2>
				<p>Matador is on a bold mission to accelerate all people’s prosperity by bringing more connectedness to personal finance and investing. Matador makes growing your money social, inclusive, and simple. We’ve just raised a Series A from the same lead investors who got Venmo, Acorns, and Monzo off the ground. Matador is their next big bet in consumer fintech.</p>
				<p>We believe in the power of highly motivated and experienced individuals to accomplish great things in small teams. We balance autonomy and trust with collaboration and support. If you’d like to join us in making finance more connected and inclusive, we’d love to hear from you.</p>
			</div>
		</div>
	</div>
</div>

<div class="jobs is-light is-padding text-center">
	<div class="container">
		<div class="row">
			<div class="column">
				<ul>
					<li>
						<a href="https://matadorapp.typeform.com/to/ufrwct" target="_blank">
							<h3>Backend Developer</h3>
						</a>
					</li>

					<li>
						<a href="https://matadorapp.typeform.com/to/Hup88P" target="_blank">
							<h3>iOS Developer</h3>
						</a>
					</li>

					<li>
						<a href="https://matadorapp.typeform.com/to/S3oQ8I" target="_blank">
							<h3>Android Developer</h3>
						</a>
					</li>

					<li>
						<a href="https://matadorapp.typeform.com/to/q1i9qM" target="_blank">
							<h3>QA Engineer</h3>
						</a>
					</li>

					<li>
						<a href="https://matadorapp.typeform.com/to/l8pdJt" target="_blank">
							<h3>Head of Growth Marketing</h3>
						</a>
					</li>

					<li>
						<a href="https://matadorapp.typeform.com/to/ulCZ7M" target="_blank">
							<h3>Brand Designer</h3>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "shared/footer-simple.html" %}
{% endblock %}