.footer {
	background-image: url("../images/footer-top.svg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: $color-lightest;
	padding: rem-calc(120) 0 rem-calc(20);
	position: relative;
	margin-top: 4rem;
	p:not(.is-normal), a {
		line-height: rem-calc(18);
		font-size: rem-calc(12);
		color: $color-text;
		margin: 0;
	}

	&.is-full {
		padding-top: rem-calc(100) !important;
		margin-top: rem-calc(200);
		background-image: none;
		@include breakpoint(large up) {
			margin-top: rem-calc(150);
		}
	}

	p.lead {
		line-height: rem-calc(24);
		font-size: rem-calc(16);
		margin-bottom: rem-calc(60);
	}

	svg {
		color: $primary-color;
	}

	.feed {
		position: relative;
		margin: 0 auto;
		display: block;
		max-width: 375px;
		top: -100px;
		@include breakpoint(medium down) {
			margin: 0 auto -130px;
			top: -150px;
		}
		video {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
		.gif {
			position: absolute;
			max-width: 375px;
		}
		.decor {
			position: absolute;
			max-width: 500px;
			width: 500px;
			bottom: 2rem;
			left: -3rem;
		}
		@include breakpoint(medium up) {
			img {
				display: flex;
			}
		}
	}

	.card.is-wire {
		margin-bottom: 1rem;
		.card-section {
			@include flex;
			.rhs {
				margin-left: rem-calc(10);
				justify-content: flex-end;
				align-items: center;
				flex: inherit;
				@include flex;
			}
			.button, a {
				@include flex;
				margin: 0;
			}
		}
	}

	.security {
		margin-bottom: rem-calc(50);
		.card-section {
			padding: rem-calc(50);
			align-items: center;
			@include flex();
			img {
				padding: 0 rem-calc(50);
			}
			
			.rhs {
				padding-left: rem-calc(50);
				h3 {
					color: $color-text-dark;
				}
			}
		}
	}

	.social {
		margin-bottom: rem-calc(30);
	}

	nav {
		margin-top: rem-calc(10);
		font-weight: $font-weight-medium;
		a {
			margin: 0 .3rem;
		}
	}

	.curve {
		position: absolute;
		max-width: calc(100% + 8px);
		width: calc(100% + 8px);
		left: -4px;
		right: 0;
		top: -2px;
	}

	.links {
		padding: rem-calc(50) 0;
	}

	.secondary {
		p, a {
			color: rgba($color-text, .6);
		}
		p {
			margin: 0 0 1rem;
		}
	}

	.about {
		margin-bottom: 6rem;
		p.lead {
			margin-bottom: 1rem;
		}

		.button {
			margin-top: 1rem;
		}
	}

	@include breakpoint(medium up) {
		padding: rem-calc(200) 0 rem-calc(100);
		.links {
			padding: rem-calc(100) 0;
		}
		.download {
			padding: 0 rem-calc(50);
		}

		.security {
			margin-bottom: rem-calc(30);
			.card-section {
				padding: rem-calc(30);
				align-items: center;
				@include flex();
				img {
					padding: 0 rem-calc(30);
				}
				.rhs {
					padding-left: rem-calc(30);
					h3 {
						color: $color-text-dark;
					}

					p {
						line-height: rem-calc(20);
						font-size: rem-calc(14);
					}
				}
			}
		}
	}

	@include breakpoint(large up) {
		padding: rem-calc(300) 0 rem-calc(100);
		.card.is-wire {
			margin-bottom: 0;
			height: 100%;
		}

		.security {
			margin-bottom: rem-calc(50);
			.card-section {
				padding: rem-calc(50);
				img {
					padding: 0 rem-calc(50);
				}
				.rhs {
					padding-left: rem-calc(50);
				}
			}
		}
	}
}