.header {
	padding: rem-calc(20) 0 0;
	position: relative;
	z-index: 10;
	&.is-offset {
		background-color: #F9FAFC;
	}
	
	.grid-container {
		@include flex;
		justify-content: space-between;
		width: 100%;
	}

	.logo {
		width: 110px;
		height: 16px;
		text-indent: -9999px;
		background-image: url("../images/logo.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		&.is-light {
			background-image: url("../images/logo-light.svg");
		}
	}

	nav {
		font-family: $header-font-family;
		display: none;

		a {
			margin-left: rem-calc(20);
			display: inline-flex;
			align-items: center;
			svg {
				margin-right: .3rem;
			}
		}
	}

	.hamburger {
		outline: none;
		@include flex;
		.hamburger-inner,
		.hamburger-inner:before,
		.hamburger-inner:after {
			background-color: $primary-color;
		}
		&.is-active {
			.hamburger-inner,
			.hamburger-inner:before,
			.hamburger-inner:after {
				background-color: white;
			}
		}

		@include breakpoint(medium up) {
			display: none;
		}
	}

	@include breakpoint(medium up) {
		padding: rem-calc(50) 0 0;
		.logo {
			width: 150px;
			height: 22px;
		}

		nav {
			display: flex;
		}
	}

	@include breakpoint(large up) {
		nav {
			a {
				margin-left: rem-calc(40);
			}
		}
	}
}